In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, VotingClassifier
from sklearn.model_selection import train_test_split

In [25]:
training = pd.read_csv('data/train.csv')
testing = pd.read_csv('data/test.csv')
sample = pd.read_csv('data/sample_submission.csv')
Id = testing['PassengerId']
le = LabelEncoder()
def clean(data):
    data = data.drop(['Name', 'PassengerId', 'Cabin'], axis = 1)
    data['VIP'].fillna('False', inplace =  True)
    data['HomePlanet'].fillna('Earth', inplace = True)
    data['Destination'].fillna(data['Destination'].mode, inplace = True)
    data['CryoSleep'].fillna('False', inplace = True)
    ng()
    for i in ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']:
        data[i].fillna(0, inplace = True)
    return data
for i in ['HomePlanet', 'CryoSleep', 'VIP', 'Destination']:
        training[i] = le.fit_transform(training[i])
        testing[i] = le.transform(testing[i])
training = clean(training)
testing = clean(testing)
training.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,1,0,2,39.0,0,0.0,0.0,0.0,0.0,0.0,False
1,0,0,2,24.0,0,109.0,9.0,25.0,549.0,44.0,True
2,1,0,2,58.0,1,43.0,3576.0,0.0,6715.0,49.0,False
3,1,0,2,33.0,0,0.0,1283.0,371.0,3329.0,193.0,False
4,0,0,2,16.0,0,303.0,70.0,151.0,565.0,2.0,True

In [12]:
X = training.drop('Transported', axis = 1)
y = training['Transported']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 20)

In [14]:
model1 = LogisticRegression()
model1.fit(X_train, y_train)
model2 = RandomForestClassifier()
model2.fit(X_train, y_train)
model3 = AdaBoostClassifier(n_estimators = 100, random_state = 25)
model3.fit(X_train, y_train)

AdaBoostClassifier(n_estimators=100, random_state=25)

In [19]:
prediction1 = model1.predict(X_test)
prediction2 = model2.predict(X_test)
prediction3 = model3.predict(X_test)
accuracy_score(prediction2, prediction3)

0.8771849126034958

In [29]:

prediction = model3.predict(testing)
sub = pd.DataFrame({'PassengerId':Id, 'Transported': prediction})
sub.head()

  PassengerId  Transported
0     0013_01         True
1     0018_01        False
2     0019_01         True
3     0021_01         True
4     0023_01         True

In [30]:
sub.to_csv('adaboost.csv', index = False)

In [3]:
import pandas as pd

In [4]:
type(pd)

module

In [5]:
pd